attempt_at_superglue/assets_balboa/
attempt_at_superglue/assets_randolph/
attempt_at_superglue/assets_randolph_zoomed/
attempt_at_superglue/results/
attempt_at_superglue/results_balboa/
attempt_at_superglue/results_randolph/
attempt_at_superglue/sgVenv/
descriptor_matching/descriptor_data_bases/
descriptor_matching/output/
descriptor_matching/perfect_output/
fourier_template_matching/output/
images/
myvenv/
old_versions/


*.png
*.jpeg
*.jpg
*.tif
*.gif
*.db
